@{
    ViewData["Title"] = "Home Page";
}
<div id="popupContainer" style="display:none">
    <div id="popup">
        <div>
            <div id="popupCloseButton">&times;</div>
            <div id="popupHeader"></div>
        </div>
        <p id="popupMessage"></p>
        <div class="align-items-center" id="popupButtonContainer">
            <button id="closePopup1" class="closePopup1">Отмена</button>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <label for="walletAddress">Введите адрес:</label>
        <input type="text" id="walletAddress" name="walletAddress" placeholder="Введите адрес, который хотите проверить">
        <div class="error-message" id="walletAddressError"></div>
        <br><br>
        <label for="networkType">Выберите сеть</label>
        <select id="networkType" name="networkType">
        </select>
        <div class="error-message" id="networkTypeError"></div>
        <br><br>
        <button type="submit" onclick="sendWalletAddress()">Submit</button>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/amlapi.js"></script>
